@import '../../Global.scss';


.Home {
  font-family: $Patua;
//###############################################
//                    HERO
//###############################################

  .hero {
    display: flex;
    width: 100%;
    height: 800px;
    margin-top: 70px;
    background: url('/img/home/hero.jpg') no-repeat;
    background-size: cover;
    opacity: 0.8;
    
    .divOutline {
      display: flex;
      width: 750px;
      height: 380px;
      margin: auto;
      border: 2px solid #fff;
      
      .divBG {
        width: 710px;
        height: 340px;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.8);

        h2 {
          margin-top: 40px;
          font-size: 55px;
          text-align: center;
          color: #000;
          font-family: $Kaushan;
        }

        p {
          width: 80%;
          margin: auto;
          margin-top: 50px;
          font-size: 35px;
          text-align: center;
          color: #000;
        }
      }
    }
  }


//###############################################
//                  SLIDER
//###############################################

  .Slider {
    display: flex;
    position: relative;
    width: 60%;
    height: 620px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 5px solid #000;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);

    .arrowContainer {
      z-index: 10;
      position: absolute;
      display: flex;
      align-self: center;
      justify-content: space-between;
      width: 100%;
      height: 100px;

      .leftArrow {
        z-index: 11;
        display: flex;
        justify-content: flex-start;
        width: 50px;
        height: 100px;
        margin-left: 15px;

        img {
          width: 45%;
          height: 40%;
          align-self: center;
        }
      }

      .rightArrow {
        display: flex;
        justify-content: flex-end;
        width: 50px;
        height: 100px;
        margin-right: 15px;

        img {
          width: 45%;
          height: 40%;
          align-self: center;
        }        
      }
    }

    .slides {
      position: relative;
      width: 100%;
      height: 100%;
      // background-color: blue;

      .slide {
        position: absolute;
        width: 100%;
        height: 100%;
        // background-color: green; 
        
      }

    }
  }

}

@media only screen and (max-width: 800px) {
  
  .Home {

    .hero {

      .divOutline {
        width: 700px;

        .divBG {
          width: 660px;
        }
      }
    }

    .Slider {
      width: 85%;
    }
  }
}
